* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Euclid Circular A", Poppins;
    color: #f9f9f9;
    background: #080911;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.hamburger,
.menu {
    position: fixed;
}

.hamburger {
    z-index: 4;
    padding: 15px 15px;
    width: 88px;
    height: 88px;
    display: inline-block;
    top: 0;
    right: 0;
    cursor: pointer;
    transition-property: scale, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
        scale: 0.9; }
    .hamburger.is-active:hover {
        scale: 0.9; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: #ffffff; }
        
    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; }
    
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 40px;
            height: 4px;
            background-color: #ffffff;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease; }
        .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block; }
        .hamburger-inner::before {
            top: -10px; }
        .hamburger-inner::after {
            bottom: -10px; }

.hamburger--arrowalt-r .hamburger-inner::before {
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

.hamburger--arrowalt-r .hamburger-inner::after {
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
    top: 0;
    transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); 
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); 
}

.burger.open {
    background-image: url("./close.svg");
}

.background {
    position: fixed;
    z-index: 2;
    top: 44px;
    left: 44px;
    aspect-ratio: 1 / 1;
    translate: -50% -50%;
    height: 88px;
    background: #020212;
    border-radius: 50%;
    opacity: 0;
    transition: 0.6s;
}


.background.open {
    filter: blur(16px);
}

.menu {
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    visibility: hidden;
    transition: 0.05s;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}

.menu.open {
    opacity: 1;
    visibility: visible;
}

body .menu nav:hover > a {
    opacity: 0.25;
}

body .menu nav > a:hover {
    opacity: 1;
}

.menu a {
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    padding: 20px 0 20px 20px;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
}

.menu.open a {
    opacity: 1;
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: 0 30px;
    }
    100% {
        opacity: 1;
    }
}

.appear {
    animation: appear 0.35s backwards;
}

.page {
    padding: 100px 15%;
    transition: 0.6s;
}

.page.open {
    filter: blur(10px);
}

.page h2 {
    font-weight: 400;
}

.page p {
    line-height: 1.66;
    opacity: 0.6;
}
