
body {
    font-family: Fredoka-Regular;
    color: #f9f9f9;
    background: #070918;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column; /* Stacks components vertically */
    gap: 15vh; /* Adjust the gap size as needed */
}



  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 1px;
    padding: 1px;
    margin-right: 1px;
}

*::-webkit-scrollbar-track {
    background: #2a2c5100;
    opacity: 0;
}

*::-webkit-scrollbar-thumb {
    padding: 1px;
    background-color: #b0b3da00;
    border-radius: 10px;
    opacity: 0.1;
}



.mobile-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    font-size: 46px;
    font-family: Fredoka-Regular;
    box-sizing: border-box;
    background: #080911;
    padding: 100px;
    border-radius: 40px;
    color: #f9f9f9;
    
}