
body {
    font-family: EC-Regular;
    color: #f9f9f9;
    background: #080911;
    border-style: solid;
    border-color: red;
}


/* * {
    scrollbar-width: auto;
    scrollbar-color: #b0b3da #2a2c51;

} */

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    padding: 1px;
    margin-right: 1px;
}

*::-webkit-scrollbar-track {
    background: #2a2c51;
}

*::-webkit-scrollbar-thumb {
    padding: 1px;
    background-color: #b0b3da;
    border-radius: 10px;
}


/* App.css or index.css */
.app-container > *:not(.mobile-warning) {
    display: none; /* Hide all children except MobileWarning by default */
  }
  
  .mobile-warning {
    display: none; /* Hide MobileWarning by default */
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .app-container > *:not(.mobile-warning) {
      display: block; /* Show main content on larger screens */
    }
  
    .mobile-warning {
      display: none; /* Keep MobileWarning hidden on larger screens */
    }
  }
  
  /* Small devices (mobile, less than 768px) */
  @media (max-width: 767px) {
    .app-container > *:not(.mobile-warning) {
      display: none; /* Hide main content on smaller screens */
    }
  
    .mobile-warning {
      display: block; /* Show MobileWarning on smaller screens */
      text-align: center;
      padding: 20px;
      font-size: 16px;
    }
  }
  