@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    @font-face {
        font-family: EC-Bold;   
        font-weight: bold;
        font-display: fallback;
        src: local("Euclid-Circular-A") ,url("../fonts/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Regular;   
        src: url("../fonts/Euclid\ Circular\ A\ Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Italic;   
        src: url("../fonts/Euclid\ Circular\ A\ Italic.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Light;   
        src: url("../fonts/Euclid\ Circular\ A\ Light.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Medium;   
        src: url("../fonts/Euclid\ Circular\ A\ Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-SemiBold;   
        src: url("../fonts/Euclid\ Circular\ A\ SemiBold.ttf") format("truetype");
    }
    @font-face {
        font-family: Fredoka-Bold;   
        src: url("../fonts/Fredoka-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: Fredoka-Light;   
        src: url("../fonts/Fredoka-Light.ttf") format("truetype");
    }
    @font-face {
        font-family: Fredoka-Medium;   
        src: url("../fonts/Fredoka-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: Fredoka-Regular;   
        src: url("../fonts/Fredoka-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: Fredoka-SemiBold;   
        src: url("../fonts/Fredoka-SemiBold.ttf") format("truetype");
    }
    @font-face {
        font-family: Arista-Regular;   
        src: url("../fonts/Arista\ 2.0.ttf") format("truetype");
    }
    @font-face {
        font-family: Arista-Light;   
        src: url("../fonts/Arista\ 2.0\ Light.ttf") format("truetype");
    }
    @font-face {
        font-family: Arista-Fat;   
        src: url("../fonts/Arista\ 2.0\ Fat.ttf") format("truetype");
    }
    @font-face {
        font-family: Arista-Alternate;   
        src: url("../fonts/Arista\ 2.0\ Alternate.ttf") format("truetype");
    }
    @font-face {
        font-family: Arista-Alternate-Light;   
        src: url("../fonts/Arista\ 2.0\ Alternate\ Light.ttf") format("truetype");
    }
    @font-face {
        font-family: Arista-Alternate-Full;   
        src: url("../fonts/Arista\ 2.0\ Alternate\ Full.ttf") format("truetype");
    }
}