@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    border-style: dashed;
    border-color: red;
}
body {
    font-family: EC-Light;
}

.intro-title {
    font-family: EC-Bold;
}


@layer base {
    @font-face {
        font-family: EC-Bold;   
        font-weight: bold;
        font-display: fallback;
        src: local("Euclid-Circular-A") ,url("./fonts/euclid-circular-a/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Regular;   
        src: url("./fonts/euclid-circular-a/Euclid\ Circular\ A\ Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Italic;   
        src: url("./fonts/euclid-circular-a/Euclid\ Circular\ A\ Italic.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Light;   
        src: url("./fonts/euclid-circular-a/Euclid\ Circular\ A\ Light.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-Medium;   
        src: url("./fonts/euclid-circular-a/Euclid\ Circular\ A\ Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: EC-SemiBold;   
        src: url("./fonts/euclid-circular-a/Euclid\ Circular\ A\ SemiBold.ttf") format("truetype");
    }
}
