*{
    box-sizing: border-box;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.intro-title {
    font-family: EC-Bold;
}

.buttContact {
    font-family: Inter-Bold;
    color: #000000;
}

.bgSquircle{
    position: absolute;
    border-radius: 350px;
    top: -90%;
    left: -100%;
    background-color: #3B3D65;
    transform: rotate(12.50deg);
    opacity: 50%;
    width: 200%;
    height: 200%;
}

